/*--GENERAL----------------------------------------------------------------------*/
body {
    background: hsl(204, 43%, 93%);
    font-family: "Karla", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main {
    background: white;
    border-radius: 10px;
    width: 50vw;
    box-shadow: 5px 5px 25px #a6a6a6;
}
@media screen and (max-width: 800px) {
    body {
        display: block;
    }
    main {
        width: 80vw;
        margin: 10vh auto;
    }
}
/*--SECTION 1----------------------------------------------------------------------*/
.sec1 {
    padding: 5vh;
}
h1 {
    font-size: 24px;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
    margin-bottom: 3vh;
}
h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3vh;
}
.h21 {
    color: hsl(71, 73%, 54%);
    margin-bottom: 1vh;
    font-weight: 400;
}
p {
    font-size: 14px;
}
.p1 {
    color: hsl(218, 22%, 67%)
}
/*--SECTION 2----------------------------------------------------------------------*/
.part2{
    display: flex;
}
.sec2 {
    background: hsl(179, 62%, 43%);
    color: white;
    align-content: center;
    padding: 5vh;
    width: 100%;
    border-bottom-left-radius: 10px;
}
h6 {
    font-size: 32px;
}
button {
    background-color: hsl(71, 73%, 54%);
    border: 1px solid transparent;
    border-radius: 10px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width:100%;
    color: white;
    box-shadow: 3px 3px 25px #7e7e7e;
}
@media screen and (max-width:800px){
    .part2{
    display:block;
    }
    .sec2 {
    border-bottom-left-radius: 0px;
    }
    button{
        margin-top: 2vh;
    }
}
/*--SECTION 3----------------------------------------------------------------------*/
.sec3 {
    background: hsl(179, 62%, 43%, 0.8);
    color: white;
    align-content: center;
    padding: 5vh;
    width: 100%;
    border-bottom-right-radius: 10px;
}
@media screen and (max-width:800px){
    .sec3 {
    border-bottom-left-radius: 10px;
    }
}